<mat-progress-spinner class="spinner" color="primary" mode="indeterminate" [class.show]="saving"></mat-progress-spinner>

<form [formGroup]="markerForm" (ngSubmit)="onSaveClicked()" novalidate [class.is-saving]="saving" #myform="ngForm">

  <mat-form-field>
    <input matInput type="text" placeholder="bron" name="bron" formControlName="bron">
    <mat-icon matSuffix color="primary" (click)="openSource()" title="Bekijk bron" class="open_source">open_in_new</mat-icon>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="type" name="type" formControlName="type">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="centroide_rd" name="centroide_rd" formControlName="centroide_rd">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="id" name="id" formControlName="id">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" placeholder="naam" name="naam" formControlName="naam">
    <mat-icon matSuffix color="primary">mode_edit</mat-icon>
    <mat-hint align="end" *ngIf="markerForm.get('naam').hasError('required') && (myform.submitted || markerForm.get('naam').touched)"><span class="error">Verplicht</span></mat-hint>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="nummer" name="nummer" formControlName="nummer">
    <mat-icon matSuffix color="primary">mode_edit</mat-icon>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="status" name="statuses" formControlName="status">
      <mat-option *ngFor="let status of statuses" [value]="status.value">
        {{ status.viewValue }}
      </mat-option>
    </mat-select>
    <mat-hint align="end" *ngIf="markerForm.get('status').hasError('required') && (myform.submitted || markerForm.get('status').touched)"><span class="error">Verplicht</span></mat-hint>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="omschrijving" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="5" name="omschrijving" formControlName="omschrijving"></textarea>
  </mat-form-field>
  
  <mat-form-field>
    <input matInput type="text" placeholder="aliassen" name="aliassen" formControlName="aliassen">
    <mat-icon matSuffix color="primary">mode_edit</mat-icon>
    <mat-hint align="start"><strong>Aliassen scheiden met een komma</strong> </mat-hint>
  </mat-form-field>

  <div class="button-row">
    <button mat-raised-button color="primary" type="submit" [disabled]="markerForm.pristine">Opslaan</button>
    <button mat-raised-button (click)="onResetClicked(markerForm)" type="button">Reset</button>
    <button mat-raised-button (click)="onCancelClicked(markerForm)" type="button">Annuleer</button>
  </div>
</form>