<app-map [center]="mapCenter" [zoom]="mapZoom"></app-map>
<mat-card class="controls">

  <form name="search">
    <mat-form-field>
      <input type="text" [(ngModel)]="searchInput" (keyup)="onSearch($event)" name="address" matInput placeholder="Enter an address">
    </mat-form-field>
  </form>

  <div *ngIf="searching && searchInput">
    <mat-nav-list *ngIf="suggestionResults.length">
        <a mat-list-item href="#" (click)="onSuggestionClicked(suggestion)" *ngFor="let suggestion of suggestionResults | slice:0:10">{{ suggestion.weergavenaam }}</a>
    </mat-nav-list>
    <p *ngIf="suggestionCount === 0">Geen resultaten</p>
  </div>

  <div *ngIf="lookupResults && !searching">
      <mat-nav-list *ngIf="lookupResults.length">
          <a mat-list-item href="#" (click)="onLookupClicked(lookup)" *ngFor="let lookup of lookupResults | slice:0:10"><span><strong>{{ lookup.bron }}</strong>&nbsp;-&nbsp;{{ lookup.weergavenaam }}</span></a>
      </mat-nav-list>
  </div>
</mat-card>