.view {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    .view_map {
        width: 75%;
        position: relative;
    }
    .view_controls {
        width: 25%;
        overflow: hidden;
        overflow-y: auto;
        background: #f7f7f7;
        
        mat-form-field {
            width: 100%;
        }
    }
}

.feature {
    h1 {
        font-size: 1em;
        margin: 0.3em;
    }
}

.feature__row {
    display: flex;
    width: 100%;
    overflow-x: auto;
}

.feature__wrapper {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 20px;
    > div {
        padding: 5px;
        border: 1px solid #eee;
        border-width: 1px 1px 1px 0;
        white-space: nowrap;
        &:first-child {
            background: #eee;
            font-weight: bold;
            border-width: 1px 1px 1px 1px;
        }
    }
}

.block {
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
}

.spinner {
    margin: 0 auto;
}